Options -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^(.{2})/api/(.*)$ api/index.php?lang=$1&req=$2 [QSA,L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . error.html [QSA,L]
</IfModule>
